.metadata
com.ibm.notes.java.api
com.example.junit.tests
com.example.xsp
com.ibm.xsp.test.framework
Thumbs.db
*.phd
*.trc
*.class


# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb